.navbar {
  background-color: #7b94b3;

  font-weight: 600;
  font-size: 20px;

  height: 100px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
}

.navbar div div a {
  margin: 30px;
}

.navbar div div a:hover {
  background-color: #b9ccdd;
  border-radius: 15px;
}

#pic1 {
  width: 98%;
  /* height: 1; */
  margin: 0px 0px 0px 10px;
  border-radius: 20px;
}

#ZYER {
  font-size: 50px;
  font-weight: 800;
  margin: 10px 100px 10px 50px;
}
#hello {
  margin-top: 15px;
}

/* #button1 {
  font-size: x-large;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 80px;

  width:97vw ;
  height: 0%;
  border-radius: 20px;
} */

/* 
.item3 { grid-area: main; }
.book1 { grid-area: book; } */

.grid-container {
  background-color: #ffffff;
  padding: 0px 30px 0px 40px;

  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}

.paragraph {
  background-color: #ffffff;
  padding: 0px 21px 0px 0px;

  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  text-align: justify;
}

/* #para {
  font-size: 2vw;
  font-weight: 700;
} */

.find1 {
  text-align: justify;
  display: flex;
  flex-direction: row;
}

.paragraph > div {
  background-color: #ffffff;
  width: 50%;

  text-align: left;
  font-size: 3vw;
}

/* .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 30px;
} */

/* Media Query for responsive design */
/* @media screen and (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            'main main main book book book'
            'footer footer footer footer footer footer';
    }
    .grid-container > div {
        font-size: 20px;
    }
} */

/* .item3 { grid-area: main; }
.item4 { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

/* 
#book1 {
  position: fixed;
  top: 50%;
  right: 0;
  background-color: red; 
  padding: 20px; 
}

 */

/* .container-sm{
  color: aqua;
  height: 10vw;
  width: 10vw;
  grid-area: 10vw;
  color: aqua;

} */

#more {
  font-size: 2vw;
  margin: 40px 10px 10px 30px;
  font-weight: 600;
}

#hr {
  border-width: 2px;
  display: block;
  width: 93vw;
  color: gray;
  margin: 50px 20px 50px 20px;
}

#hr1 {
  border-width: 2px;
  display: block;
  width: 93vw;
  color: gray;
  margin: 50px 20px 50px 20px;
}

#services {
  font-size: 60px;
  margin: 40px 10px 40px 30px;
  font-weight: 600;
}

/* 
#pic2{
  width: 1415px;
  height: 900px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;

}  */

#pic4 {
  height: 320px;
}

#pic5 {
  height: 320px;
}

#pic3 {
  height: 320px;
}

.waiting {
  font-weight: 600;
  font-size: 40px;

  margin: 300px 10px 20px 10px;
}

.what {
  font-weight: 1400;
  font-size: 90px;

  margin: 20px 10px 350px 10px;
}

.footer {
  background-color: rgb(90, 90, 90);
  margin: auto;
  padding: 70px;
  text-decoration: none;
  color: aliceblue;
}

ul {
  list-style: none;
}

#ava {
  font-size: x-large;
  margin: 40px 10px 10px 10px;
}

#abouth1 {
  font-size: 60px;
  margin: 60px 10px 60px 10px;
}
#aboutp {
  font-size: larger;
  font-weight: bold;
  margin: 20px 10px 400px 10px;
}

#sol1 {
  margin: 50px 10px 200px 10px;
}

#map1 {
  margin: 50px 10px 80px 10px;
}

/* @media screen and (max-width: 600px){
  h1
  .navbar-nav{
    font-size: 100px;

  }
  
} */

/* 
#navbar-nav{
  width: 700vw;
  
} */

/* 
.collapse navbar-collapse{
display: flex;
justify-content: center;
align-items: center;
} */

@media only screen and (max-width: 576px) {
  .navbar navbar-expand-lg {
    width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar navbar-expand-lg {
    width: 600px;
  }
}

@media only screen and (max-width: 576px) {
  .pic1 {
    width: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .pic1 {
    width: 100px;
  }
}
